createdAt: "2018-02-23T15:13:22.577Z"
updatedAt: "2018-05-25T15:30:29.494Z"
content: '''
  # 1. Modulinformationen
  
  **Modul:** BZG3101-KOMM1D  
  **Dozent:** Thomas von Burg
  
  ## 1.1 Modulunterlagen
  
  Alle Unterlagen zu diesem Modul sind in auf GitHub zu finden:
  
  https://moodle.bfh.ch/course/view.php?id=16470
  
  **Einschreibeschlüssel:** Eiger
  
  ## 1.2 Themenwahl
  
  * Bewerbungsgespräche
  * Elevator Pitch
  * Schlagfertigkeit
  * Antike Rhetorik
  * Verhandeln - Das Harvard Konzept
  * **Zuhören - Aktives Zuhören (X)**
  * Gewaltfreie Kommunikation
  * Reklamationen (X)
  * Verkaufsgespräch
  * Körpersprache (X)
  * Smalltalk
  * Visualisieren
  
  # Prüfungsinformation
  * Prüfung ist eher oberflächlich.
  * Praktische und Theoretische Fragen kommen dran.
  * Anhand von Beispielen Fragen erklären können.
  * Während der Prüfung keine Hilfsmittel erlaubt.
  
  # 2. Vier-Ohren Modell
  
  # 3. Elevator Pitch
  
  Entstand weil man die Manager nie erreichen konnte, da sie keine Freizeit hatten. Deshalb hat sich etabliert, dass man mit einem Manager zusammen in den Aufzug (Elevator) steigt und in dieser Zeit seine Idee in den 30 - 60 Sek. die man hat, dem Manager mitteilen. Das ist der sogenannte Elevator Pitch.
  
  ## Vorbereitung
  
  Bevor man einen Elevator Pitch durchführen kann, muss man bereits ein Produkt oder eine Idee haben.
  
  * Zielgruppe definieren
  * Probleme
  * Name / Logo finden
  * Kategorie
  * Vorteile
  * Konkurrenz
  * Einzigartig
  
  ## AIDA
  
  * **A**ttention
  * **I**nterest
  * **D**esire
  * **A**ction
  
  ## Erstellung
  
  * Zielperson
  * Haken
  * Ausdrucksweise
  * Problemlösung
  * Konkurrenz
  * Abschluss
  
  # Körpersprache
  ## Definition
  Form der Informationsvermittlung durch Mimik, Gestik, Berührungen usw. Sie macht etwa 60% der Kommunikation aus. Sie wird auch häufig unbewusst gesendet.
  
  ## Zehn Gebote
  1. Aufmerksamer Beobachter sein
  2. Kontextbezogen beobachten
  3. Universell gültige nonverbale Verhaltensweisen erkennen
  4. Idiosynkratische nonverbale Verhaltensweisen erkennen (Personenabhängig)
  5. Normalverhalten von anderen ermitteln
  6. Nach Verhaltensweisen, die in Kombination auftreten suchen
  7. Nach Verhaltensänderungen Ausschau halten
  8. Falsche oder irreführende Signale zu erkennen
  9. Den Unterschied zwischen Behagen und Ungehagen erkennen
  10. Diskret sein, wenn man andere beobachten
  
  ## Das Limbische System
  Das Limbische System reagiert auf Ereignisse automatisch. Es sendet die Signale aus, wie sich ein Mensch fühlt. 
  
  * Schockstarre
  * Flucht
  * Kampf
  
  Es gibt die sogenannten Beruhigungsgesten, welche das Limbische System steuert:
  * Berühren des Halses
  * Berührungen im Gesicht
  * Geräusche machen
  * Auffälliges Gähnen
  * Mit der Hand dem Bein entlangfahren
  * Sich Luft verschaffen
  
  Durch diese Beruhigungsgesten sollte man wieder auf einen normalen Zustand kommen.
  
  ## Körpersprache erkennen
  * Füsse & Beine
  * Rumpf (Torso)
  * Arme und Hände
  * Mimik
  
  ## Fazit
  Mit der Körpersprache lässt sich das Wohlbefinden einer Person bestimmen. Es gibt keine 100%-Wahrscheinlichkeit herauszufindne, ob eine Person aufrichtig ist. Das Wohlbefindne, Stress und Unbehagen kann analysiert werden. Wichtig ist dabei, das bei allen Punkten der aktuelle Zustand mit dem Normalzustand verglichen werden.
  
  
  ## Fragen
  * Während du dich mit diesem Thema auseinandergesetzt hast, hast du dich mehr auf die Körpersprache von anderen geachtet?
  * Hast du deine eigene Körpersprache besser erkannt? 
  
  # Bewerbungsgespräche
  Bewerbungsgespräche sind die Kunst des "Self-Marketing".
  
  ## USP (Unique Selling Proposition)
  * USP muss kurz und bündig sein
  * USP muss nachhaltig sein
  * USP muss anders sein
  
  Zu den USP Bereiche gehören die Hard Skills (Fachwissen, Fachkompetenzen) und die Soft Skills (soziale, persönliche Kompetenzen).
  
  ## Vorbereitung
  * Erster Eindruck
  * Informieren
  * Kurze Selbstpräsentation
  * Angemessene Kleidung
  * Auf gewöhnliche Fragen vorbereiten (Stärken, Schwächen usw...)
  
  ## Eigene Schwächen
  Man sollte die eigenen Schwächen ehrlich beantworten aber sie in ein gutes Licht rücken.
  
  ## Vorstellungsgespräch
  * Auf Gestik und Mimik achten
  * Sitzposition
  
  ## Eigene Fragen
  Nie mit nein beantworten, man sollte immer ein paar eigene Fragen vorbereitet haben.
  
  ## Fragen
  * Wie lief es bei deinen Bewerbungsgesprächen?
  
  ## Feedback
  * Immer gegen unten gerichtet
'''
folder: "f6acc81ee052e27a272a"
title: "1. Modulinformationen"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
