createdAt: "2018-02-23T15:13:22.577Z"
updatedAt: "2018-05-14T14:17:55.960Z"
content: '''
  # 1. Modulinformationen
  
  **Modul:** BZG3101-KOMM1D  
  **Dozent:** Thomas von Burg
  
  ## 1.1 Modulunterlagen
  
  Alle Unterlagen zu diesem Modul sind in auf GitHub zu finden:
  
  https://moodle.bfh.ch/course/view.php?id=16470
  
  **Einschreibeschlüssel:** Eiger
  
  ## 1.2 Themenwahl
  
  * Bewerbungsgespräche
  * Elevator Pitch
  * Schlagfertigkeit
  * Antike Rhetorik
  * Verhandeln - Das Harvard Konzept
  * **Zuhören - Aktives Zuhören (X)**
  * Gewaltfreie Kommunikation
  * Reklamationen (X)
  * Verkaufsgespräch
  * Körpersprache (X)
  * Smalltalk
  * Visualisieren
  
  # 2. Vier-Ohren Modell
  
  # 3. Elevator Pitch
  
  Entstand weil man die Manager nie erreichen konnte, da sie keine Freizeit hatten. Deshalb hat sich etabliert, dass man mit einem Manager zusammen in den Aufzug (Elevator) steigt und in dieser Zeit seine Idee in den 30 - 60 Sek. die man hat, dem Manager mitteilen. Das ist der sogenannte Elevator Pitch.
  
  ## Vorbereitung
  
  Bevor man einen Elevator Pitch durchführen kann, muss man bereits ein Produkt oder eine Idee haben.
  
  * Zielgruppe definieren
  * Probleme
  * Name / Logo finden
  * Kategorie
  * Vorteile
  * Konkurrenz
  * Einzigartig
  
  ## AIDA
  
  * **A**ttention
  * **I**nterest
  * **D**esire
  * **A**ction
  
  ## Erstellung
  
  * Zielperson
  * Haken
  * Ausdrucksweise
  * Problemlösung
  * Konkurrenz
  * Abschluss
  
'''
folder: "f6acc81ee052e27a272a"
title: "1. Modulinformationen"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
