createdAt: "2018-05-14T14:18:09.745Z"
updatedAt: "2018-05-14T18:29:57.848Z"
type: "MARKDOWN_NOTE"
folder: "f6acc81ee052e27a272a"
title: "Miteinander Reden"
content: '''
  # Miteinander Reden
  ## Allgemeine Punkten
  * Menschlichkeit und Effektivität müssen ausbalanciert werden
  * Klare Linien und Grenzen setzen, sonst kommt man in die Sandwich-Position
  * Teufelskreis zwischen Führungskräften und ihren Vorgesetzten
  
  ## Grundlagen
  * Vier-Ohren-Modell
    * Sachinformation (Worüber ich informiere)
    * Selbstkundgabe (Was ich von mir zu erkennen gebe9
    * Beziehungshinweis (Was ich von dir halte und wie ich zu dir stehe)
    * Apell (Was ich bei dir erreichen möchte)
  * Teufelskreis
  * Inneres Team
    * Verschiedene innere Stimmen die eine andere Ansichtssache haben
  * Wertequadrat
  * Situationsmodell
    1. Eingangskanal (Vorgeschichte und die Anlässe, die zur Situation geführt haben)
    2. Oberbauch (Die thematische Struktur; Um was geht es?)
    3. Unterbauch (Die menschliche Struktur der beteiligten und ihre Rollen)
    4. Ausgangskanal (Die Ziele des Treffens; Was soll dabei herauskommen?)
  
  ## Kompetenzen der Gesprächtsführung
  ### Sich interessieren
  * Mit vier Ohren empfangen
  * Aktives Zuhören (Seite 70ff)
    * In Gegenüber einfühlen
    * Zuhören heisst noch nicht Zustimmen
    * Voraussetzungen
      * Echtes Interesse an Gesprächspartner
      * Bereitschaft zum Zuhören (Mitteilen falls nicht möglich)
    * Drei Stufen des Aktiven Zuhörens
      1. Beziehungsebene  
       Gesprächtspartner mitteilen "ich bin jetzt ganz Ohr"
      Störquellen auszuschalten
      Blickkontakt herstellen
      Telefonlaute ("Ja", "Hmm") signalisieren Aufmerksamkeit
      sonst fragt sicher der Partner "ob die Leitung noch steht"
      2. Inhaltliches Verständnis
      Hier findet das *aktive* Zuhören statt.
      Der Zuhörer fasst die Kernaussagen in seinen Worten zusammen und überprüft sein inhaltliches Verständnis.
      Falls notig, muss der Zuhörer unterbrechen um Fragen zu klären und Fakten sicherzustellen
      3. Gefühle verbalisieren
      Dem anderen "aus dem Herzen zu sprechen".
      Die Gefühle des anderen in Worte zu fassen.
      Art Spiegel für den Gesprächspartner
    * Schwierigkeiten
      * Sich zurückhalten und "Lösungslosigkeit" aushalten
      * Die Führung überlassen
      * Umgang mit Gefühlen
      * Schweigen
    * Wie wirkt das aktive Zuhören?
      * Besseres Verständnis
      * Selbstklärung
      * Tempobremse
      * Fokussierung bzw. Anregung des Redeflusses
    * Wann ist das Aktive Zuhören angebracht?
      * Wenn jemand kompliziertes, persönliches erzählt um das Verständnis auf Richtigkeit zu überprüfen
      * Überprüfen des Verständnisses in Streitgesprächen
      * Beratende Gespräche
    * Wann ist das Aktive Zuhören unangebracht?
      * Wenn man angegriffen wird
      * Persönliche Grenzen respektieren
  ### Farbe bekennen
  
'''
tags: [
  "Book"
]
isStarred: false
isTrashed: false
