createdAt: "2018-05-31T10:52:30.727Z"
updatedAt: "2018-05-31T14:00:38.480Z"
type: "MARKDOWN_NOTE"
folder: "f6acc81ee052e27a272a"
title: "Aktives Zuhören"
content: '''
  # Aktives Zuhören
  ## Drei Stufen des Aktive Zuhörens
  1. Beziehungsebene (Zuhören, Störquellen entfernen)
  2. Inhaltliches Verständnis (Mit eigenen Worten zusammenfassen)
  3. Gefühle in Worte fassen (Gefühle vermuten)
  
  # Antike Rhetorik
  Heute wird unter Rhetorik die Sprech- und Vortragskunst verstanden.
  
  Früher war die Rhetorik die Disziplin der Politik, des Lehrens und der Wissenschaft. Rhetoren nutzten die Rhetorik vor allem im Gericht, in der Politik oder zur Meinungskundgabe. Sie begann in Griechenland und wurde dann von den griechischen Philosophen und Lehrern importiert.
  
  ## Aufteilung
  * Sophisten (Rhetoren): Praktische Anwendung  
  * Eristiker (Philosophen): waren auf die Wahrheit aus
  
  ## Rhetorik von Aristoteles
  * Ethos: Der Charakter des Redners  
  * Pathos: Der Emotionale Zustand des Zuhörers
  * Logos: Das Argument
  
  ## Officia oratoris
  1. Auffindung des Stoffes
  2. Gliederung des Stoffes
  3. Stilisierung
  4. Auswendiglernen
  5. Vortragen
  
  # Das Bewerbungsgespräch
  ## Self Marketing
  Die bewusste Betonung der eigenen Stärken. Es ist wichtig sich von der Masse hervorzuheben und seine Einzigartigkeiten (USP) zu kennen.
  
  ## Alleinstellungsmarkmale - Unique selling proposition (USP)
  1. USP muss kurz und bündig sein
  2. USP muss nachhaltig sein
  3. USP muss anders sein
  
  Ein USP kann sich entweder auf Hard Skills (Fachwissen, Fachkompetenzen) oder Soft Skills (soziale, persönliche Kompetenzen) beziehen.
  
  ## Vorbereitung
  Eine gute Vorbereitung ist sehr wichtig und kann viel bewirken. Man sollte sich genügend über das Unternehmen informieren. Dadurch kann man im Gespräch diese Infos einbringen und Fragen dazu stellen.
  
  Man sollte kurz vorher eine kurze Selbstpräsentation vorbereiten. Dort ist es wichtig die fachlichen Qualifikationen und praktischen ERfahrungen herauszustellen.
  
  Bei den Stärken und Schwächen geht es nicht um das fachliche Know-how sondern um die persönlichen Komptenzen. Viele Schwächen lassen sich auch als positive Schwäche mit Argumenten verkaufen.
  
  ## Das Vorstellungsgespräch
  Man sollte hier immer deutlisch sprechen eine offene und gute Körperhaltung einnehmen, immer Blickkontakt aufbauen und freundlich sein. Am Schluss des Gespräches sollte man immer eigene Fragen ins Spiel bringen und am besten sollte man offene Fragen beantworten.
  
  # Elevator Pitch
  Der Kerngedanke eines Elevator pitches ist es eine wichtige Person in einem Aufzug zu treffen und diese während dieser Zeit von seiner Idee überzeugen zu können.
  
  Dabei ist der Elevator Pitch ein gut vorbereiteter und eingeübter Text der kurz und prägnent das Interesse und die Neugier des anderen zu wecken und im besten Fall einen Termin für eine ausführliche Präsentation zu bekommen.
  
  ## AIDA-Formel
  * A: Attention: Kontakt aufnehmen, Aufmerksamkeit des Gegenübers wecken
  * I: Interst: Interesse für die Idee erwecken, auch mit sprachlicher und körperlicher Begeisterung dafür.
  * D: Desire: Auf wünsche und Verlangen des Zuhörer eingehen
  * A: Action: Das gegenüber auffordern zu Handeln
  
  ## Persönliche Vorstellung
  * Wer bin ich?
  * Was mache ich?
  * Was hat das Gegenüber davon, dass es mich gibt?
  
  ## Zielgruppen klären
  Zuerst muss man festlegen, welche Zielgruppen man erreichen will. Mann muss sich in die Lage des Gegenübers versetzen. Was spricht ihn oder sie an?
  
  ## Haken finden, um den Zuhörer zu ködern
  Am Besten mit einer Frage einsteigen oder mit einer ungewöhnlichen Geschichte. So wird Aufmerksamkeit und Aktives Zuhören beim Gegenüber gewährleistet.
  
  ## Welches Problem soll gelöst werden?
  Wichtig ist das man nicht direkt ein Produkt verkaufen möchte, sondern mehr eine Idee die ein Problem lösen soll. Deshalb ist es wichtig die wichtigsten Motive zu kennen, die die Zielperson antreiben.
  
  ## Weitere wichtige Punkte
  * Klare und einfache Ausdrucksweise (Keine Füllwörter und HIlfsverben)
  * Zeigen was man anders macht (Vorteile zeigen)
  * Den Dialog suchen (Rhetorische Fragen benutzen, Sprechen wie mit ihrer Oma)
  
  # Gewaltfreie Kommunikation (GFK)
  Bei der GFK geht es darum uns daran zu erinnern wie unserer zwischenmenschliche Kommunikation ursprünglich gedacht war. Wir werden angeregt, uns ehrlich und klar auszudrücken und gleichzeitig anderen Menschen unsere respektvolle und einfühlsame Aufmerksamkeit zu schenken.
  
  Die GFK kann dabei auf allen Ebenen der Kommunikation und auch in den unterschiedlichsten Situationen angewendet werden.
  
  ## Die vier Komponenten der GFK
  * Beobachtungen (Was passiert in der Situation, was sagen andere, ohne Beurteilung mitzuteilen)
  * Gefühle (Wie fühle ich mich in dieser Situation)
  * Bedürfnisse (Welche Bedürfnisse stecken hinter unseren Gefühlen)
  * Bitten (Was wollen wir vom anderen, damit unser beider Leben schöner wird)
  
  ## Lebensentfremdende Kommunikation
  * Moralische Urteile
  * Vergleiche anstellen
  * Verantwortung leugnen
  
  # Körpersprache
  Die Körpersprache wird zusätzlich als nonverbale Kommunikation bezeichnet und ist eine Art der Informationsvermittlung die nur mithilfe von Mimik, Gestik, Berührungen, Körperbewegungen, Haltung und Körperinszenierung umgesetzt wird. Da sie meistens unbewusst ausgesendet wird, ist sie viel authentischer, als das gesprochene Wort.
  
  ## Zehn Gebote
  1. Aufmerksamer Beobachter sein
  2. Kontextbezogen beobachten
  3. Universell gültige nonverbale Verhaltensweisen erkennen
  4. Idiosynkratische nonverbale Verhaltensweisen erkennen (Personenabhängig)
  5. Normalverhalten von anderen ermitteln
  6. Nach Verhaltensweisen, die in Kombination auftreten suchen
  7. Nach Verhaltensänderungen Ausschau halten
  8. Falsche oder irreführende Signale zu erkennen
  9. Den Unterschied zwischen Behagen und Ungehagen erkennen
  10. Diskret sein, wenn man andere beobachten
  
  ## Limbisches System
  Das limbische System ist einer der drei Teilen des Gehirns und steht im Zentrum der Körpersprache, da dieser Teil des Gehirns reflexartig und unmittelbar in Echtzeit reagiert. Das limbische Gehirn und für das Überleben essentiell und deshalb ist es immer aktiv. Ausserdem ist es das emotionale Zentrum. Im Laufe der Zeit hat das limbische Gehirn automatische Mechanismen entwickelt, die das Überleben sichern:
  
  * Die Schockstarre
  * Die Flucht
  * Der Kampf
  
  ## Beruhigungsgesten
  Beruhigungsgesten sind solche Gesten werden unbewusst ausgeführt und werden dazu verwendet sich selbst zu beruhigen, nachdem etwas Unangenehmes passiert ist. Mit den Beruhigungsgesten lässt sich das aktuelle Wohlbefinden einer Person zu bewerten. Ein paar Beispiele für Beruhigungsgesten sind:
  
  * Berühren des Halses
  * Berührungen im Gesicht
  * Geräusche machen
  * Auffälliges Gähnen
  
  ## Körpersprache erkennen
  Die Aufrichtigkeit der Körpersprache nimmt von unten nach oben ab.
  
  Die Füsse und Beine neigen sich z.B. von Dingen ab die man nicht mag und wenden sich den Dingen zu die man mag. Auch mit dem Rumpf wendet man sich grundsätzlich unliebsamen Dingen ab und versucht sich davon zu distanzieren. Mit den Daumen lassen sich unteranderem Souveränität ausstrahlen, wenn man die nach oben richtet.
  
  Die Mimik soll zusätzlich Aussagen untermauern. Durch ein Stirnrunzeln und das zusammenknreifen der Augen wird Unbehagen oder auch Stress ausgestrahlt. Die Augen sind dabei das authentischte an der Mimik.
  
  # Vier-Seiten-Modell
  Das Vier-Seiten-Modell beschreibt wie eine Nachricht auf vier Ebenen aufgeteilt werden kann: Sachinhalt, Selbstoffenbarung, Beziehung und Apell.
  
  ## Sachinhalt
  Die Sachinformation der Nachricht. Worüber ich informiere.
  
  ## Selbstoffenbarung
  Was ich von mir selbst kundgeben. Was offenbare ich den anderen über mich mit der Nachricht.
  
  ## Beziehung
  Was ich von dir halte und wie wir zueinander stehen. Auf dieser Ebene geht hervor, wie der Sender zum Empfänger steht.
  
  ## Appell
  Wozu ich die veranlassen möchte. Fast alle nachrichten haben die Funktion auf den Empfänger einfluss zu nehmen. Der Apellaspekt ist vom Beziehungsaspekt zu unterscheiden, denn mit dem gleichen Appell können ganz andere Beziehungsbotschaften verbinden werden.
  
  Der Empfänger hat analog dazu vier Ohren. Jeweils ein Ohr für einen Aspekt der Nachricht.
  
  ## Basis für ein Gespräch - die vier Ws
  * Wahrnehmung
  * Wirkung
  * Wichtig
  * Wunsch
  
  # Das Harvard-Konzept (Erfolgreich verhandeln)
  Das Ziel beim Harvard-Konzept ist es Verhandlungen erfogreich und zu gegenseitigem Nutzen führen und unter erschwerten BEdingungen sachbezogen verhandeln können.
  
  ## Sachbezogenes Verhandeln
  1. Säule: Menschen (Der anderen Seite Zeit geben ihre Sicht der Dinge darzulegen)
  2. Säule: Interessen (Gemeinsame Interessen finden)
  3. Säule: Möglichkeiten (Offen für andere Möglichkeiten und Lösungen sein)
  4. Säule: Kriterien (Objektive Kriterien einschalten, das Problem zu einem gemeinsamen machen)
  
  ## Weitere Punkte
  Einen Plan B für die Verhandlung entwickeln. Dadurch kann machtvoller in der Verhandlung werden, da man noch eine alternative in der Hinterhand hat.
  
  # Introvertierte Menschen in der Arbeitswelt
  Introvertierte können sich in der Arbeitswelt behaupten in dem sie mit ihren Stärken ihre Schwächen kompensieren zu den Stärken von Introvertierten Menschen gehören:
  
  * Substanz
  * Konzentrationsfähigkeit
  * Vorsicht
  * Analytisches Denken
  * Unabhängigkeit
  * Beharrlichkeit
  
  # Schlagfertigkeit
  Eine Person ist per Definition Schlagfertig, wenn diese auf eine unerwartete Bemerkung oder Frage teffend und / oder witzig reagiert. Die Schlagfertigkeit kann man dabei in drei Kategroien aufteilen:
  
  * Erwiderungsfertigkeit
  * Witz-Fertigkeit
  * Diskussionsfertigkeit
  
  ## 5 bewährte Techniken der Schlagfertigkeit
  1. Das unerwartete Zustimmen
  2. Rückfragen
  3. Gegenteil behaupten
  4. Der versteckte Gegenangriff
  5. Übertriebene Zustimmung
  
  # Smalltalk
  Ein Smalltalk ist eine beiläufige Konversation ohne Tiefgang. Es handelt sich hierbei also nicht um tiefe und komplexe Gespräche. Den Smalltalk gibt es dabei meistens nur zwischen fremden Menschen.
  
  ## Eisbrecher
  * Stellen Sie Fragen
  * Machen Sie dem Gegenüber ein Kompliment
  * Stellen Sie sich vor
  
  ## BASF-Formel
  * B: Blickkontakt suchen, begrüssen
  * A: Anfangen, ansprechen
  * S: Statement abgeben
  * F: Fraen stellen
  
  # Das Verkaufsgespräch
  ## Die 12 Phasen des Verkaufsgesprächs
  1. Vorbereitung
  2. Eigenmotivation
  3. Begrüssung
  4. Gesprächseinstieg
  5. Bedarfsanalyse
  6. Präsentation
  7. Einwandbehandlung
  8. Preisverhandlung
  9. Die Kaufbereitschaft herbeiführen
  10. Abschluss
  11. Verabschiedung
  12. Nachbereitung
  
  # Visualisieren
  Für eine gute Visualisierung seiner Präsentation sollte man, dass für sich passende Medium auswählen, ob dies nun eine PowerPoint-Präsentation, eine Flipchart, eine Pinnwand oder eine Overheadprojektor ist.
  
  Man sollte Informationen direkt während der Präsentation aufschreiben, den so nimmt der Zuhörer die Information auf zwei Arten auf und ist während der Präsentation immer bei der Sache damit er keine Informationen verliert. Eine andere Art zu visualisieren ist z. B. die LInien eines Balkendiagrammes langsam zu zeichnen, damit beim Publikum eine Art Spannung erzeugt wird.
  
  Man kann aber durch die Sprache eine Visualisierung erzeugen, in dem man mit bestimmten Signalwörter Aufmerksamkeit und Spannung ankündigen:
  
  * "Aufgepasst"
  * "Jetzt komm's..."
  * "Hören Sie hin!"
  * "Jetzt verrate ich Ihnen etwas...
'''
tags: []
isStarred: false
isTrashed: false
